body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: rgb(130, 198, 28);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 3em;
}

nav h1 {
    text-align: center;
}

.mike {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7em 0 0 0;
    animation: wazowski 5s infinite linear
}

@keyframes wazowski {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
